.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-header {
  padding: 20px;
}

h1 {
  font-size: 2em;
}

button, a {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

button:hover, a:hover {
}

form {
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #61dafb;
  border-radius: 5px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}